.table-container {
    width: 100%; /* Make the container take full width */
    max-width: 60%; /* Set a maximum width for larger screens */
    margin: 0 auto; /* Centers the container */
    padding: 20px;
    text-align: center;
    overflow-x: auto; /* Allows horizontal scrolling if needed */
}

.table-title {
    margin-bottom: 20px;
    font-size: 1.8rem; /* Adjust font size for the title */
    color: #000; /* Title color */
}

.styled-table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are collapsed */
    border: 1px solid #aaa; /* Outer border for the table */
}

.styled-table th, .styled-table td {
    padding: 10px; /* Cell padding */
    border-right: 1px solid #ddd; /* Border between columns */
}

.styled-table th {
    background-color: #f2f2f2; /* Light gray background for headers */
    color: #333; /* Text color for headers */
}

.styled-table td {
    vertical-align: middle; /* Aligns text vertically in cells */
}

/* Specific styles for 'Disponibilité' and 'Date Limite' columns */
.styled-table .mat-column-disponibility, .styled-table .mat-column-deadline {
    width: 150px; /* Adjust width */
    text-align: center; /* Center-align text */
}

/* Remove the right border from the last column to avoid extra border on the right edge */
.styled-table th:last-child, .styled-table td:last-child {
    border-right: none;
}

.custom-check-icon {
    color: #197330; /* Custom green color for the check icon */
}

/* Responsive styles */
@media (max-width: 768px) {
    .table-container {
        width: 100%;
        padding: 0; /* Removes extra padding on small screens */
        padding-bottom: 75px;
        max-width: 98%; /* Removes max-width to allow full expansion */
        text-align: left; /* Aligns the table to the left edge */
    }


    .table-title {
        font-size: 1rem; /* Smaller title font size on mobile */
    }

    .styled-table {
        width: 100%;
        white-space: nowrap; /* Prevents text from wrapping */
    }

    .styled-table th, .styled-table td {
        font-size: 0.75rem; /* Smaller font size for mobile */
        padding: 8px; /* Reduce padding for smaller screens */
    }
}
