<footer class="footer">
    <div class="footer-content">
        <h3 class="contact-title">Contacts</h3>
        <div class="contact-info">
            <div class="contact-item">
                <i class="fa fa-envelope footer-icon"></i>
                <span class="contact-text">email&#64;example.com</span>
            </div>
            <div class="contact-item">
                <i class="fa fa-phone footer-icon"></i>
                <span class="contact-text">21 210 213 | 46 461 469</span>
            </div>
            <div class="contact-item">
                <i class="fa fa-map-marker footer-icon"></i>
                <span class="contact-text">67 Av .Alain Savary , Tunis Cité El Khadra , 1003 , Tunisie</span>
            </div>
        </div>
    </div>
</footer>
