<div class="medecine-section">
    <div class="card">
      <h3 class="title">Medecine / IMAT (EN) </h3> <!-- Changed from h2 to h3 -->
    </div>
  
    <div class="description-section">
      <img src="../../../assets/medicine.jpeg" alt="Description Image" class="description-image" />
      <div class="description-text">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt reiciendis facilis consectetur nisi dignissimos illo deleniti suscipit. Sapiente doloribus quae ea magni. Harum laboriosam maiores libero sapiente provident officia laudantium!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt reiciendis facilis consectetur nisi dignissimos illo deleniti suscipit. Sapiente doloribus quae ea magni. Harum laboriosam maiores libero sapiente provident officia laudantium!
        </p>
            
      </div>
    </div>
  </div>
  