<mat-toolbar>
  <mat-toolbar-row>
    <!-- Logo -->
    <div class="toolbar-logo" (click)="redirectTo('/home')">
      <img src="../../assets/logo.png" alt="Logo" />
    </div>

    <!-- Spacer between logo and buttons -->
    <div class="spacer"></div>

    <!-- Container for toolbar links aligned to the right -->
    <div class="toolbar-right">
      <!-- Links for larger screens -->
      <div class="toolbar-links" [ngClass]="{'open': isMenuOpen}">
        <button (click)="redirectTo('/accueil')" [ngClass]="{'active': isActive('/accueil')}">Home</button>

        <!-- Services button with dropdown -->
        <div class="dropdown-container">
          <button (click)="toggleServices()" [ngClass]="{'active': isActive('/services')}">
            <mat-icon class="dropdown-icon">keyboard_arrow_down</mat-icon>
            Services
          </button>
          <div class="services-dropdown" *ngIf="isServicesActive">
            <button class="service-item" (click)="redirectTo('/service1')">
              <mat-icon class="small-icon">school</mat-icon>
              Licences
            </button>
            <button class="service-item" (click)="redirectTo('/service2')">
              <mat-icon class="small-icon">check_circle</mat-icon>
              Master
            </button>
          </div>
        </div>

        <button (click)="redirectTo('/contact')" [ngClass]="{'active': isActive('/contact')}">Contact</button>
      </div>

      <!-- Hamburger Icon for Mobile -->
      <div class="hamburger-icon" (click)="toggleMenu()">
        &#9776; <!-- Hamburger icon (Unicode character) -->
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
