.table-container {
    width: 60%; /* Adjust as needed */
    margin: 0 auto; /* Centers the container */
    padding: 20px;
    text-align: center;
}

.table-title {
    margin-bottom: 20px;
    font-size: 1.8rem; /* Adjust font size for the title */
    color: #000; /* Title color */
}

.styled-table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are collapsed */
    border: 1px solid #aaa; /* Outer border for the table */
}

.styled-table th, .styled-table td {
    padding: 10px; /* Cell padding */
    border-right: 1px solid #ddd; /* Border between columns */
}

.styled-table th {
    background-color: #f2f2f2; /* Light gray background for headers */
    color: #333; /* Text color for headers */
}

.styled-table td {
    vertical-align: middle; /* Aligns text vertically in cells */
}

/* Specific styles for 'Disponibilité' column */
.styled-table .mat-column-disponibility {
    width: 150px; /* Adjust width for 'Disponibilité' column */
    text-align: center; /* Center-align text in 'Disponibilité' column */
}

.styled-table .mat-column-disponibility th, .styled-table .mat-column-disponibility td {
    text-align: center; /* Center-align header and content */
}

/* Remove the right border from the last column to avoid extra border on the right edge */
.styled-table th:last-child, .styled-table td:last-child {
    border-right: none;
}

.custom-check-icon {
    color: #197330; /* Custom green color for the check circle */
}


/* Specific styles for 'Date Limite' column */
.styled-table .mat-column-deadline {
    width: 150px; /* Adjust width for 'Date Limite' column */
    text-align: center; /* Center-align text in 'Date Limite' column */
}

.styled-table .mat-column-deadline th, .styled-table .mat-column-deadline td {
    text-align: center; /* Center-align header and content */
}