<div class="Map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3193.5182241887132!2d10.184675075688986!3d36.830063072238595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd35f76c419c5b%3A0x7177a7766ffd771a!2sItalian%20Dream!5e0!3m2!1sen!2stn!4v1725733322783!5m2!1sen!2stn"
      width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<!-- Contact Section -->
 <div class="all-contact">
<div class="contact-container">
    <!-- Contact Form (2/3 width) -->
    <div class="contact-form">
      <h3>Contactez-nous</h3>
      <form>
        <label for="email">Email</label>
        <input type="email" id="email"  required>
  
        <label for="subject">Subject</label>
        <input type="text" id="subject"  required>
  
        <label for="message">Message</label>
        <textarea id="message" rows="5"  required></textarea>
  
        <button type="submit" class="submit-button">Envoyer</button>
      </form>
    </div>
  
<!-- Contact Info (1/3 width) -->
<div class="contact-info">
    <h3>Contact Information</h3>
    <p class="info-paragraph">Pour toute information n'hésitez pas à contacter Italian Dream aux coordonnées ci-dessous</p>
    <p class="info-address">
      <i class="fas fa-map-marker-alt"></i> <span class="bold">Address:</span><br>67 Av. Alain Savary, Tunis Cité El Khadra, 1003 Tunisie
    </p>
    <p class="info-email">
      <i class="fas fa-envelope"></i> <span class="bold">Mail:</span><br>
      <a href="mailto:contact@italiandream.com">contact&#64;italiandream.com</a>
    </p>
    <p class="info-tel">
        <i class="fas fa-phone"></i> <span class="bold">Tel:</span><br>
        <span class="phone-numbers">21 210 213<br>46 461 469</span>
    </p>
</div>
