.all-contact {
    background-color: #ffffff;
    padding: 100px;
}

.contact-info-container {
    max-width: 1200px;
    margin: 0 auto;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.contact-icon {
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}

.contact-icon i {
    background: linear-gradient(90deg, #f87d7d, #a41c1e); /* Gradient background */
    color: white; /* Icon color */
    font-size: 2rem;
    margin-bottom: 10px;
    border-radius: 50%; /* Makes the icon circular */
    padding: 20px; /* Adjust size of the circle */
    display: inline-block; /* Ensures the icon remains centered within the circle */
    transition: transform 0.3s ease, background 0.3s ease; /* Smooth transition */
}

.contact-icon:hover i {
    transform: scale(1.2); /* Scale up the icon */
    background: linear-gradient(135deg, #a41c1e, #be1e2d); /* Reverse gradient on hover */
}

.contact-icon h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #1E1666;
    margin-bottom: 5px;
    transition: color 0.3s ease; /* Smooth transition */
}

.contact-icon p {
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #2d2e32;
    margin: 0;
    transition: color 0.3s ease; /* Smooth transition */
}

.map-and-form {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.map-container {
    width: 50%;
    padding-right: 10px;
}

.contact-form-container {
    width: 50%;
    padding-left: 10px;
}

.contact-form-container h3 {
    font-family: "Nunito";
    font-size: 40px;
    color: #1E1666;
    line-height: 48px;
    font-weight: 800;
    padding-left: 25px;
    margin-bottom: 30px;
    margin-top: -5px;
}

.contact-form-container p.info-paragraph {
    padding-left: 30px;
    font-family: "Nunito";
    font-size: 17px;
    color: #57647C;
    margin-bottom: 20px;
}

.contact-form-container form {
    background-color: #ffffff;
    padding: 25px;
    text-align: left;
}

.contact-form-container input,
.contact-form-container textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 25px;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    background-color: #f4f8ff;
}

.contact-form-container input:focus,
.contact-form-container textarea:focus {
    border-color: #D91828;
    outline: none;
}

.submit-button {
    background-color: #D91828;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-size: 0.9rem;
    width: auto;
    display: inline-block;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #C8102E;
}

/* Responsive Design */
@media (max-width: 768px) {
    .map-and-form {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .map-container,
    .contact-form-container {
        width: 100%;
    }

    .map-container iframe {
        height: 300px; /* Adjust the height of the map on smaller screens */
    }


    .contact-form-container h3 {
        font-family: "Nunito";
        font-size: 25px;
        color: #1E1666;
    }
    
    

    .contact-form-container {
        /*padding: 20px 0;*/
        text-align: center; /* Center the form on smaller screens */
    }

    .contact-form-container form {
        text-align: center; /* Center the input elements */
    }

    .contact-icons {
        flex-direction: column;
        align-items: center;
    }

    .contact-icon {
        width: 100%;
        margin-bottom: 20px;
    }
}
