body {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

.Map {
    background-color: #F2F2F2;
}

.Map iframe {
    margin-bottom: 30px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2; /* Background color for the contact container */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Adjust the width and margin of the form container */
.contact-form {
    width: 65%; /* 2/3 width */
    max-width: 700px; /* Limit max-width to prevent large fields */
    padding: 20px;
    margin-right: 30px; /* Slightly move form to the left */
}

.contact-info {
    width: 25%; /* 1/3 width */
    padding: 20px;
}

.contact-form h3, .contact-info h3 {
    font-size: 20px; /* Set font size */
    line-height: 24px; /* Set line height */
    font-family: 'Lovelo', sans-serif; /* Set font family */
    letter-spacing: 2px; /* Set letter spacing */
    font-weight: 400; /* Set font weight */
    color: #2d2e32; /* Set text color */
    margin-bottom: 20px; /* Set bottom margin */
}

.info-paragraph {
    font-family: 'Merriweather', serif; /* Set font family */
    letter-spacing: 0.5px; /* Set letter spacing */
    font-size: 15px; /* Set font size */
    line-height: 25px; /* Set line height */
    font-weight: 400; /* Set font weight */
    color: #2d2e32; /* Set text color */
    margin-bottom: 20px;
}

.info-address, .info-email, .info-tel {
    margin-bottom: 20px;
    color: #2d2e32;
    font-family: 'Helvetica', serif; /* Set font family */
    letter-spacing: 0.5px; /* Set letter spacing */
    font-size: 15px; /* Set font size */
    line-height: 25px; /* Set line height */
    font-weight: 400; /* Set font weight */
}

.info-address .bold, 
.info-email .bold, 
.info-tel .bold {
    font-family: 'Open Sans';
    font-weight: 700;
}

.info-address i, .info-email i, .info-tel i {
    color: #D91828; /* Set the color for icons */
    margin-right: 10px;
    font-size: 1.2rem;
}

.info-email, .info-tel {
    font-weight: 400; /* Normal weight for email and phone numbers */
}

.info-email a {
    color: #be1e2d; /* Set the color for email */
    text-decoration: none; /* Remove underline */
    font-family: 'Helvetica', serif; /* Set font family */
}

.info-email a:hover {
    text-decoration: underline; /* Add underline on hover */
}

.phone-numbers {
    display: block; /* Ensure phone numbers are displayed as block elements */
}

label {
    font-family: 'Merriweather', serif; /* Set font family */
    letter-spacing: 0.5px; /* Set letter spacing */
    font-size: 15px; /* Set font size */
    line-height: 28px; /* Set line height */
    font-weight: 400; /* Set font weight */
    color: #2d2e32; /* Ensure label text color matches your design */
}

input, textarea {
    width: 100%; /* Ensure fields don't overflow */
    max-width: 100%; /* Make sure input doesn't exceed its container */
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ddd; /* Border color for fields */
    border-radius: 1px;
    font-size: 1rem;
    font-family: 'Merriweather', serif; /* Set font family */
    letter-spacing: 0.5px; /* Set letter spacing */
    line-height: 28px; /* Set line height */
    font-weight: 400; /* Set font weight */
    background-color: #F2F2F2; /* Background color for input fields and textareas */
    cursor: text; /* Change cursor to text */
}

input:focus, textarea:focus {
    border-color: #D91828;
    outline: none;
}

button.submit-button {
    background-color: #D91828;
    color: white;
    padding: 8px 15px; /* Smaller button size */
    border: none;
    border-radius: 1px;
    cursor: pointer; /* Change cursor to pointer */
    font-size: 0.9rem; /* Smaller font size */
    width: auto; /* Adjust width to content */
    display: inline-block; /* Align with content */
}

button.submit-button:hover {
    background-color: #C8102E; /* A better hover color */
}

.all-contact {
    background-color: #F2F2F2;
}
