.table-container {
    width: 60%; /* Adjust as needed */
    margin: 0 auto; /* Centers the container */
    padding: 20px;
    text-align: center;
  }
  
  .table-title {
    margin-bottom: 20px;
    font-size: 1.8rem; /* Adjust font size for the title */
    color: #000; /* Title color */
    margin-bottom: 130px;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are collapsed */
    border: 1px solid #aaa; /* Outer border for the table */
  }
  
  .styled-table th, .styled-table td {
    padding: 10px; /* Cell padding */
    text-align: center; /* Center-aligns all columns */
    border: 1px solid #ddd; /* Adds a border between cells */
    vertical-align: middle; /* Aligns text vertically in cells */
  }
  
  .styled-table th {
    background-color: #f2f2f2; /* Light gray background for headers */
    color: #333; /* Text color for headers */
  }
  
  .green-tick {
    color: green; /* Green color for the "check_circle" icon */
  }
  
  .summary-container {
    margin-top: 40px; /* Space between table and summary */
    text-align: center; /* Center-aligns the summary text */
    font-weight: bold;
  }
  
  .summary-label {
    display: inline-block;
    margin-right: 20px; /* Space between labels and values */
  }
  
  .summary-value {
    display: inline-block;
    margin-right: 40px; /* Space between values */
  }
  
  /* Specific colors for the summary values */
  .summary-value.paye {
    color: green; /* Green color for total paid amount */
  }
  
  .summary-value.restant {
    color: red; /* Red color for total remaining amount */
  }
  
  @media (max-width: 600px) {
    .summary-container {
      flex-direction: column; /* Stack summary items vertically */
    }
    .summary-label,
    .summary-value {
      display: block; /* Stack labels and values */
      margin: 5px 0; /* Space between stacked items */
    }
    
    .table-container {
      margin-top: -20px;
      width: 100%; /* Adjust as needed */
      margin: 0 auto; /* Centers the container */
      padding: 20px;
      text-align: center;
      margin-left: -15px;
    }

    .table-title {
    margin-bottom: 20px;
    font-size: 1.8rem; /* Adjust font size for the title */
    color: #000; /* Title color */
    margin-bottom: 70px;
  }

  .styled-table th, .styled-table td {
    text-align: center; /* Center-aligns all columns */
    border: 1px solid #ddd; /* Adds a border between cells */
    vertical-align: middle; /* Aligns text vertically in cells */
  }

  

  
  
  }
  