.newpassword-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .password-card {
    background-color: transparent;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    border: solid 1px #dfdfdf;
    }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .description{
    padding-left: 20px;
    padding-right: 20px;
  }
  
  
  .password-input {
    width: 100%;
    margin-top: 10px;
  }
  
  .valider-btn {
    width: 100%; /* Full width */
    margin-top: 10px; /* Margin for spacing */
    background-color: #197330 !important; /* Green background */
    color: white !important; /* White text */
    text-align: center; /* Center text */
  }
  
  .valider-btn[disabled] {
    background-color: rgba(25, 115, 50, 0.5) !important; /* Disabled green */
    color: rgba(255, 255, 255, 0.5) !important; /* Disabled white */
    cursor: not-allowed; /* Disabled cursor */
  }
    
  .divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
    text-align: center;
  }
  
  .divider .line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
  }
  
  .divider .or {
    padding: 0 10px;
    color: #666;
  }
  
  .retour-btn {
    border: solid 1px #dfdfdf; /* Same border as the card */
    width: 100%;
    padding: 10px 0; /* Padding for the button */
    background-color: #f2f2f2;
    }
  
  mat-error {
    color: red; /* Change the error message color to red */
    font-size: 0.875rem; /* Adjust the font size */
    margin-top: -20px;
  }
  