<div class="newpassword-section">
    <mat-card class="password-card">
      
      <!-- Title -->
      <mat-card-title class="title">
        Changer votre mot de passe
      </mat-card-title>

      <p class="description">Veuillez saisir votre nouveau mot de passe.</p>

  
      <mat-card-content>
        <!-- Password Field -->
        <mat-form-field appearance="fill" class="password-input">
          <mat-label>Nouveau mot de passe</mat-label>
          <input 
            matInput 
            type="password" 
            [(ngModel)]="newPassword" 
            #newPasswordInput="ngModel" 
            [required]="true">
          <mat-error *ngIf="newPasswordInput.invalid && (newPasswordInput.dirty || newPasswordInput.touched)">
            <div *ngIf="newPasswordInput.errors?.['required']">Password is required.</div>
          </mat-error>
        </mat-form-field>
  
        <!-- Confirm Password Field -->
        <mat-form-field appearance="fill" class="password-input">
          <mat-label>Confirmer votre mot de passe</mat-label>
          <input 
            matInput 
            type="password" 
            [(ngModel)]="confirmPassword" 
            #confirmPasswordInput="ngModel" 
            [required]="true" 
            [pattern]="newPassword">
          <mat-error *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)">
            <div *ngIf="confirmPasswordInput.errors?.['required']">Confirm Password is required.</div>
            <div *ngIf="confirmPasswordInput.errors?.['pattern']">Passwords must match.</div>
          </mat-error>
        </mat-form-field>
  
        <!-- Submit Button -->
        <button mat-raised-button class="valider-btn" (click)="onSubmit()" 
                [disabled]="newPasswordInput.invalid || confirmPasswordInput.invalid">
          Valider
        </button>
  
        <!-- Divider with 'or' -->
        <div class="divider">
          <span class="line"></span>
          <span class="or">ou</span>
          <span class="line"></span>
        </div>
  
        <!-- Retour vers connexion Button -->
        <button mat-button (click)="redirectTo('/login')" class="retour-btn">
          Retour vers connexion
        </button>
      </mat-card-content>
  
    </mat-card>
  </div>
  