.user-table-container {
    width: 75%; /* Set the width of the container to 75% */
    margin: 0 auto; /* Center the container */
  }
  
  .table-title {
    text-align: center; /* Center the title */
    margin-bottom: 16px; /* Add some space below the title */
    margin-top: 20px;
  }  
  
  mat-form-field {
    width: 50%; /* Set search bar to half of the table width */
    margin-bottom: 16px; /* Add space below the search bar */
  }
  
  .search-bar {
    display: block; /* Ensure search bar takes its own line */
    margin: 0 auto; /* Center the search bar */
  }
  
  /* Table styling */
  
  ::ng-deep .mat-mdc-header-cell {
    background-color: #d8d8d8 !important; /* Change header background color */
    padding: 12px; /* Padding for header cells */
    text-align: left; /* Align header text to the left */
  }

  
    
  
  .button-group {
    display: flex; /* Use flexbox for button layout */
    gap: 5px; /* Space between buttons */
  }
    
  
  .dots-container {
    cursor: pointer; /* Show pointer on hover */
    position: relative; /* Positioning for the dropdown */
  }
  
  .dot {
    font-size: 24px; /* Size of the dots */
  }
  
  .dropdown-menu {
    position: absolute; /* Positioning for dropdown */
    background-color: #fff; /* Background color for the dropdown */
    border: 1px solid #ddd; /* Border for dropdown */
    border-radius: 4px; /* Rounded corners for dropdown */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Shadow for dropdown */
    z-index: 10; /* Ensure dropdown appears above other elements */
    margin-top: 5px; /* Space above the dropdown */
  }
  
  .dropdown-item {
    display: block; /* Display items as block */
    padding: 10px; /* Padding inside the items */
    text-align: left; /* Align text to the left */
    width: 100%; /* Full width for dropdown items */
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1; /* Change background on hover */
  }
  
  /* Style the paginator container */
  .mat-paginator {
    display: flex;
    justify-content: center; /* Center the paginator under the table */
    margin-top: 20px; /* Add space between the table and paginator */
  }
  
  .mat-paginator-range-label {
    flex-grow: 1; /* Ensure the range label takes available space */
    text-align: center; /* Center-align the range label */
  }
  
  .mat-paginator-page-size {
    margin-right: 16px; /* Add space between page size selector and buttons */
  }
  
  .mat-paginator-navigation {
    display: flex;
    align-items: center; /* Center the navigation buttons vertically */
  }


  .dialog-title {
    text-align: center; /* Center the dialog title */
    margin-bottom: 16px; /* Add some space below the title */
  }
  
  .button-group {
    display: flex; /* Use flexbox for button layout */
    justify-content: flex-end; /* Align buttons to the right */
    gap: 5px; /* Space between buttons */
    margin-top: 16px; /* Optional: add space above buttons */
  }
  