<h2 class="title">Les Documents Nécessaire</h2>

<div class="cards-container">
  <mat-card class="document-card card" (click)="navigateTo('Visa')">
    <img src="../../../assets/document.png" alt="Document Icon" class="document-icon">
    <div class="card-content">
      <div class="text-content">
        <mat-card-title>Documents Visa</mat-card-title>
      </div>
    </div>
  </mat-card>

  <mat-card class="document-card card" (click)="navigateTo('Incription')">
    <img src="../../../assets/document.png" alt="Document Icon" class="document-icon">
    <div class="card-content">
      <div class="text-content">
        <mat-card-title>Documents Incription</mat-card-title>
      </div>
    </div>
  </mat-card>

  <mat-card class="document-card card" (click)="navigateTo('Bourse')">
    <img src="../../../assets/document.png" alt="Document Icon" class="document-icon">
    <div class="card-content">
      <div class="text-content">
        <mat-card-title>Documents Bourse</mat-card-title>
      </div>
    </div>
  </mat-card>
</div>
