<h2 class="title">Les Documents Nécessaire</h2>

<div class="cards-container">
  <mat-card class="document-card card" (click)="navigateTo('Visa')">
    <mat-card-title>Visa Documents</mat-card-title>
    <mat-card-content>View all required visa-related documents.</mat-card-content>
  </mat-card>

  <mat-card class="document-card card" (click)="navigateTo('Incription')">
    <mat-card-title>Incription Documents</mat-card-title>
    <mat-card-content>View all required incription-related documents.</mat-card-content>
  </mat-card>

  <mat-card class="document-card card" (click)="navigateTo('Bourse')">
    <mat-card-title>Bourse Documents</mat-card-title>
    <mat-card-content>View all required bourse-related documents.</mat-card-content>
  </mat-card>
</div>
