.sidenav-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

mat-sidenav {
  width: 250px; /* Fixed width for the sidebar */
  transition: width 0.3s; /* Smooth transition for width change */
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  align-items: center; /* Center items horizontally */
  background-color: #F2F2F2;
}

.sidebar-logo {
  width: 100px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

.center-logo {
  display: flex;
  justify-content: center; /* Center the logo horizontally */
  width: 100%; /* Ensure the container takes full width */
}

.username {
  font-size: 18px;
  margin-bottom: 50px;
  text-align: center; 
  display: flex;
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center; /* Center items horizontally */
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words if necessary */
}

.username i {
  font-size: 50px;
  margin-bottom: 16px; /* Increased space between icon and username */
}

.sidebar-item {
  margin-bottom: 10px;
  font-size: 16px;
  width: 100%; /* Full width of the sidebar */
  text-align: left;
  padding: 12px 16px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-item:hover {
  background-color: #197330 !important;
  color: #f0f0f0 !important;
}

.disconnect-button {
  margin-top: auto;
  margin-bottom: 16px;
  width: 100%; /* Full width of the sidebar */
  text-align: left;
  padding: 12px 16px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.3s, color 0.3s;
}

.disconnect-button:hover {
  background-color: #D91828 !important;
  color: #ffffff !important;
}

.main-content {
  padding: 16px;
}

.sidebar-item.active {
  background-color: #197330 !important;
  color: #f0f0f0 !important;
}

/* Mobile Toolbar Styles */
.mobile-toolbar {
  display: flex; /* Flexbox for horizontal layout */
  justify-content: center; /* Space items evenly */
  background-color: #F2F2F2; /* Match the sidebar background */
  padding: 10px 0; /* Vertical padding */
  position: fixed; /* Fixed position at the bottom */
  bottom: 0; /* Align to the bottom */
  width: 100%; /* Full width */
}

/* Style for active icons in mobile toolbar */
.active-icon {
  color: #197330 ; /* Change to your desired color */
}


/* Keep the existing active style for mobile buttons */
.mobile-toolbar button {
  padding: 10px; /* Adjust padding to increase button size */
  font-size: 16px; /* Adjust font size for the icon inside the button */
  height: 10px; /* Set a specific height for the button */
  width: 15px; /* Set a specific width for the button */
  display: flex; /* Ensure icons are centered */
  justify-content: center; /* Center icons horizontally */
  align-items: center; /* Center icons vertically */
}

/* Keep the existing active style for mobile buttons */
.mobile-toolbar button.active {
  color: #f2f2f2 !important; /* Text color for active button */
}

.disconnect-mobile {
  text-align: center;
  padding: 0 10px; /* Adjust horizontal padding to decrease space on the right */
}


/* Responsive styles */
@media (max-width: 768px) {
  .sidenav-container {
    overflow: hidden; /* Prevent overflow */
    position: fixed;
    width: 100%; /* Ensure full width on mobile */
    height: 100%; /* Ensure full height on mobile */
  }

  mat-sidenav {
    display: none; /* Hide sidebar on mobile */
  }

  .mobile-toolbar {
    display: flex; /* Show mobile toolbar */
  }

  .sidebar-content {
    display: none; /* Hide sidebar content on mobile */
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: transparent;
  }
    

}
