<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <div class="sidebar-content">
      <div class="center-logo">
        <img src="assets/logo.png" alt="Logo" class="sidebar-logo">
      </div>
      <span class="username">
        <i class="fas fa-user"></i> Mohamed Hassen Benadel
      </span>

      <!-- Sidebar Items with Icons -->
      <button mat-button class="sidebar-item" [ngClass]="{'active': isActiveRoute('/dashboard/profile')}"
        (click)="redirectTo('/dashboard/profile')">
        <mat-icon>person_outline</mat-icon>
        <span>Profile</span> <!-- This text will be hidden on mobile -->
      </button>

      <button mat-button class="sidebar-item" [ngClass]="{'active': isActiveRoute('/dashboard/niveau')}"
        (click)="redirectTo('/dashboard/niveau')">
        <mat-icon>language</mat-icon>
        <span>Niveau Italien</span> <!-- This text will be hidden on mobile -->
      </button>

      <button mat-button class="sidebar-item" [ngClass]="{'active': isActiveRoute('/dashboard/documents')}"
        (click)="redirectTo('/dashboard/documents')">
        <mat-icon>description</mat-icon>
        <span>Documents</span> <!-- This text will be hidden on mobile -->
      </button>

      <button mat-button class="sidebar-item" [ngClass]="{'active': isActiveRoute('/dashboard/paiement')}"
        (click)="redirectTo('/dashboard/paiement')">
        <mat-icon>payment</mat-icon>
        <span>Paiement</span> <!-- This text will be hidden on mobile -->
      </button>

      <button mat-button class="sidebar-item" [ngClass]="{'active': isActiveRoute('/dashboard/orientation')}"
        (click)="redirectTo('/dashboard/orientation')">
        <mat-icon>school</mat-icon>
        <span>Orientation</span> <!-- This text will be hidden on mobile -->
      </button>

      <button mat-button class="disconnect-button" (click)="redirectTo('/login')">
        <mat-icon>logout</mat-icon>
        <span>Disconnect</span> <!-- This text will be hidden on mobile -->
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>

    <!-- Mobile Toolbar (hidden on larger screens) -->
    <div class="mobile-toolbar" *ngIf="isMobile">
      <button mat-button (click)="redirectTo('/dashboard/profile')"
        [ngClass]="{'active': isActiveRoute('/dashboard/profile')}">
        <mat-icon [ngClass]="{'active-icon': isActiveRoute('/dashboard/profile')}">person_outline</mat-icon>
      </button>
      <button mat-button (click)="redirectTo('/dashboard/niveau')"
        [ngClass]="{'active': isActiveRoute('/dashboard/niveau')}">
        <mat-icon [ngClass]="{'active-icon': isActiveRoute('/dashboard/niveau')}">language</mat-icon>
      </button>
      <button mat-button (click)="redirectTo('/dashboard/documents')"
        [ngClass]="{'active': isActiveRoute('/dashboard/documents')}">
        <mat-icon [ngClass]="{'active-icon': isActiveRoute('/dashboard/documents')}">description</mat-icon>
      </button>
      <button mat-button (click)="redirectTo('/dashboard/paiement')"
        [ngClass]="{'active': isActiveRoute('/dashboard/paiement')}">
        <mat-icon [ngClass]="{'active-icon': isActiveRoute('/dashboard/paiement')}">payment</mat-icon>
      </button>
      <button mat-button (click)="redirectTo('/dashboard/orientation')"
        [ngClass]="{'active': isActiveRoute('/dashboard/orientation')}">
        <mat-icon [ngClass]="{'active-icon': isActiveRoute('/dashboard/orientation')}">school</mat-icon>
      </button>
      <button mat-button (click)="redirectTo('/login')" class="disconnect-mobile">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
