/* Overall container styles */
.universities-container {
    text-align: center;
    padding: 20px;
}

/* Filter container styles */
.filter-container {
    display: flex;              /* Make the container a flexbox */
    flex-direction: row;       /* Keep items in a row */
    align-items: center;       /* Center items vertically */
    justify-content: center; /* Align items to the right */

}

/* Styles for the dropdown */
select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;        /* Add space to the left of the select */
}

/* Card container styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Individual card styles */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 0; /* Remove padding to eliminate white space */
    width: 330px; /* Adjust width */
    height: 300px; /* Set a specific height */
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Card hover effect */
.card:hover {
    transform: scale(1.05);
}

/* Image styles */
img {
    width: 100%; /* Full width of the card */
    height: 75%; /* Maintain aspect ratio */
    max-height: 75%; /* Take up to 2/3 of the card height */
    border-radius: 8px 8px 0 0; /* Rounded corners on top */
}

/* Title styles */
.card h3 {
    margin: 10px 0; /* Add some margin for spacing */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card {
        width: 90%; /* Full width on small screens */
        height: 270px;
        margin: 10px 0; /* Add vertical margin for spacing */
    }

    .filter-container {
        flex-direction: column; /* Ensure vertical alignment on small screens */
        align-items: center; /* Center elements horizontally */
    }

    .card h3 {
        margin: 5px 0; /* Add some margin for spacing */
        font-size: 14px;
    }
}
