<div class="parallax-wrapper">
  <div class="parallax-container" (mousemove)="onMouseMove($event)">
    <img src="../../assets/Banner.png" class="parallax-image" />
    <img src="../../assets/Slogan.png" class="overlay-image" />
    <p class="subtext">Cabinet d'accompagnement pour réussir vos études à l'étranger</p>
    <button mat-raised-button style="background-color: #197330; color: white;" class="client-button">Espace Client</button>
  </div>
</div>

<div class="description-container">
  <h1 class="description-heading">Qui sommes nous</h1>
  <div class="divider"></div>
  <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit in asperiores aspernatur numquam illum reprehenderit, odio cum minima, accusamus ipsam repudiandae vitae totam quo error animi aliquid, dolor ab. Reiciendis?</p>
</div>

<div class="values-container">
  <div class="values-left">
    <h2 class="values-heading">NOS VALEURS</h2>
  </div>
  <div class="values-right">
    <ul class="values-list">
      <li class="fade-in"><span class="tick">&#10003;</span> Centre pilote dans la formation de langue italienne </li>
      <li class="fade-in"><span class="tick">&#10003;</span> L’accompagnement sur le choix des études </li>
      <li class="fade-in"><span class="tick">&#10003;</span> Facilité l’intégration dans les differents universités </li>
      <li class="fade-in"><span class="tick">&#10003;</span> Facilité les procédures et démarches d’obtention d’un visa d’étude </li>
      <li class="fade-in"><span class="tick">&#10003;</span> Equipe de formateur et gestionnaire de dossier disponible pour votre réussite </li>
    </ul>
  </div>
</div>

<!--Counter-->

<div class="counter-main" #counterSection>
  <div class="counter">
    <div class="circle">
      <p>{{ experienceCount }}</p>
    </div>
    <p class="label">Années d'expérience</p>
  </div>

  <div class="counter">
    <div class="circle">
      <p>{{ clientsCount }}</p>
    </div>
    <p class="label">Clients satisfaits</p>
  </div>
</div>



<!--Processus d'admission-->

<div class="admission-process-container">
  <img
    src="../../assets/pa.jpg"
    alt="Admission Process Image"
    class="base-image"
  />





  <div class="new-content"  [ngClass]="{'slide-in': showNewContent}">
    <h2 class="processustitle">Processus d'admission</h2>
    <div class="divider"></div>

      <div class="cards-container">
        <div class="card">
          <i class="fa fa-check card-icon check"></i>
          <h3 class="card-title">1. Rendez Vous</h3>
          <p class="card-description">Description for the first card. It includes details about the feature or service.</p>
        </div>
        <div class="card">
          <i class="fa fa-clipboard-list card-icon checklist"></i>
          <h3 class="card-title">2. Dépôt Dossier</h3>
          <p class="card-description">Description for the second card. It includes details about the feature or service.</p>
        </div>
        <div class="card">
          <i class="fa fa-credit-card card-icon payment"></i>
          <h3 class="card-title">3. Admission & Choix Université</h3>
          <p class="card-description">Description for the third card. It includes details about the feature or service.</p>
        </div>
        <div class="card">
          <i class="fa fa-certificate card-icon certificate"></i>
          <h3 class="card-title">4. Visa d'étude</h3>
          <p class="card-description">Description for the fourth card. It includes details about the feature or service.</p>
        </div>
      </div>
    </div>
    
   
    

    <!--
    <div class="admission-steps-container">
      <div class="column">
        <div class="step">
          <img src="../../assets/numbers/number1.png" alt="Step 1" class="step-number" />
          <strong>Étape 1:</strong>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate odio vero veniam molestiae, sapiente perferendis impedit natus necessitatibus! Provident nisi quos similique dignissimos suscipit magni repellat ipsam, sed fugiat hic.</p>
        </div>
        <div class="step">
          <img src="../../assets/numbers/number2.png" alt="Step 2" class="step-number" />
          <strong>Étape 2:</strong>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatibus autem assumenda quia. Minima quis doloribus perferendis, ratione eveniet velit nobis voluptatem totam sapiente temporibus veniam ipsum molestiae id possimus!</p>
        </div>
      </div>
      <div class="column">
        <div class="step">
          <img src="../../assets/numbers/number3.png" alt="Step 3" class="step-number" />
          <strong>Étape 3:</strong>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deserunt dolorum velit corporis id libero maiores veniam, reiciendis odit dolorem aliquid fugiat voluptatibus! Voluptatem iure mollitia dolorem quibusdam, assumenda non.</p>
        </div>
        <div class="step">
          <img src="../../assets/numbers/number4.png" alt="Step 4" class="step-number" />
          <strong>Étape 4:</strong>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque reprehenderit accusamus fuga reiciendis tenetur sint, perspiciatis vitae ducimus, architecto assumenda repudiandae consequuntur? Nobis porro architecto quod dolorem accusamus iure minima!</p>
        </div>
      </div>
    </div>
  </div>
</div>


-->



















<!-- 
<div class="cards-section">
  <h3 class="admissiontitile">Processus d'admission</h3>
  <div class="divider"></div>
  <div class="cards-container">
    <div class="card">
      <i class="fa fa-check card-icon check"></i>
      <h3 class="card-title">1. Rendez Vous</h3>
      <p class="card-description">Description for the first card. It includes details about the feature or service.</p>
    </div>
    <div class="card">
      <i class="fa fa-clipboard-list card-icon checklist"></i>
      <h3 class="card-title">2. Dépôt Dossier</h3>
      <p class="card-description">Description for the second card. It includes details about the feature or service.</p>
    </div>
    <div class="card">
      <i class="fa fa-credit-card card-icon payment"></i>
      <h3 class="card-title">3. Admission & Choix Université</h3>
      <p class="card-description">Description for the third card. It includes details about the feature or service.</p>
    </div>
    <div class="card">
      <i class="fa fa-certificate card-icon certificate"></i>
      <h3 class="card-title">4. Visa d'étude</h3>
      <p class="card-description">Description for the fourth card. It includes details about the feature or service.</p>
    </div>
  </div>
</div>
-->