.parallax-wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.parallax-image {
    position: absolute;
    left: -10%;
    top: -10%;
    width: 120%;
    height: 120%;
    transition: transform 2s ease-out;
}

.overlay-image {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 262px;
    height: 67px;
    z-index: 1;
}

.subtext {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 30px;
    font-family: "Kumbh Sans", "sans-serif";
    text-align: center;
    line-height: 1.4; 

    margin-bottom: 50px;

}

.install-button {
    position: absolute;
    top: 90%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #197330; 
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2; 

}



/* Qui sommes nous Section */
.description-container {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

.description-heading {
    font-size: 3rem;
    font-family: "Kumbh Sans", "sans-serif";
    color: #2d2e32;
    margin-bottom: 0px;
}

.divider {
    display: inline-block; 
    width: 60px;
    height: 4px;
    background-color: #D91828;
    border-radius: 2px;
}

.description-text {
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
    color: #333;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

/* Services */
.services-wrapper {
    overflow: hidden; 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    margin-top: 40px;
    text-align: center; 
}

.services-heading {
    font-family: 'Merriweather', "serif";
    font-size: 3rem; 
    font-weight: bold;
    color: #1c1e27;
    margin-bottom: 0px; 
}

.services {
    display: flex;
    justify-content: center; 
    transition: transform 0.5s ease-in-out; 
}

.servicecard {
    min-width: 200px; 
    margin: 0 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 10px; 
    text-align: center;
}
  
.card-icon {
    width: 100px; 
    height: 100px; 
    display: flex;
    border-radius: 50%;
    background-color: #f1f2f6;
    padding:  10px;
    align-items: center; 
    justify-content: center; 
    margin: 0 auto; 
    overflow: hidden; 
}
  
.card-icon img {
    max-width: 80%; 
    max-height: 80%; 
}
  
.servicecard-title {
    font-family: "Kumbh Sans", "sans-serif";
    font-size: 1rem;
    font-weight: bold;
    color: #1c1e27;
    margin-top: 20px; 
}

.service-divider {
    display: inline-block; 
    width: 60px;
    height: 4px;
    background-color: #D91828;
    margin: 20px 0;
    border-radius: 2px;
    margin-bottom: 30px;
}

/* Counter Section */
.counter-main {
    margin-top: 75px;
    position: relative;
    width: 100%;
    height: 300px;
    background: url('../../assets/background-counter.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: hidden; 
}

.content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.counters {
    display: flex;
    justify-content: center; 
    gap: 500px;
}

.counter {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #D91828;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle p {
    font-size: 40px;
    color: white;
    margin: 0;
    font-family: "Kumbh Sans", "sans-serif";
}

.label {
    font-size: 24px;
    font-family: "Kumbh Sans", "sans-serif";
    color: #fff;
    margin-top: 10px;
}

/* Témoignage */
.feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 20px; 
}

.feedback-heading {
    font-size: 36px;
    font-family: "Kumbh Sans", "sans-serif";
    color: #07283c; 
}

.divider {
    width: 100px;
    height: 3px;
    background-color: #D91828; 
    margin: 20px 0;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 50px; 
    flex-wrap: wrap; 
}

.card {
    background: #1D2026; 
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative; 
    transition: background-color 0.3s ease; 
}

.card::before {
    content: '“'; 
    font-size: 50px; 
    color: #ffffff;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
}

.card:hover {
    background: #D91828; 
    color: #fff; 
}

.card:hover .testimony-text {
    color: #fff; 
}

.image-container {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile-image {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.testimony-text {
    font-size: 16px;
    font-family: "Kumbh Sans", "sans-serif";
    color: #fff; 
}


/* For mobile devices (below 768px) */
@media (max-width: 768px) {
    .parallax-wrapper {
        height: 400px
    }

    .install-button {
        font-size: 12px;
        padding: 10px 20px;
    }


    .parallax-image {
        left: -30%;
        top: -30%;
        width: 160%;
        height: 160%;
    }

    .overlay-image {
        width: 180px; 
        height: 45px;
    }

    .subtext {
        margin-top: 30px; 
        font-size: 18px; 
    }

    .client-button {
        top: 70%; 
        font-size: 16px; 
        padding: 12px 6px; 
    }

    .description-container {
        padding: 20px 10px; 
    }

    .description-heading {
        font-size: 2rem; 
    }

    .divider {
        width: 40px;
        height: 3px;
    }

    .description-text {
        font-size: 1rem;
        line-height: 1.4; 
        max-width: 100%; 
    }

    .services-wrapper {
        margin-top: 20px; 
    }

    .services-heading {
        font-size: 2rem; 
    }

    .services {
        flex-direction: row; 
    }

    .servicecard {
        min-width: 150px; 
        padding: 4px 4px; 

    }

    .card-icon {
        width: 70px;
        height: 70px;
    }

    .card-icon img {
        max-width: 50%;
        max-height: 50%;
    }

    .servicecard-title {
        font-size: 0.9rem;
    }


    /*Counter Section*/
    .counters {
        flex-direction: column;
        gap: 20px; 
    }

    .counter-main {
        height: auto;
        padding: 20px 0; 
    }



    /*FeedBack section*/
    .feedback-container {
        padding: 20px;
    }
    
    .feedback-heading {
        font-size: 3rem; 
        text-align: cente
    }
    
    .cards-container {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        gap: 20px; 
        width: 100%; 
    }
    
    .card {
        width: 80%; 
        max-width: 300px; 
        margin: 0 auto; 
        text-align: center; 
    }
    
    .profile-image {
        width: 80px; 
        height: 80px;
    }
    
    .testimony-text {
        font-size: 14px; 
    }
}    

