/* Parallax Section */
.parallax-wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.parallax-image {
    position: absolute;
    left: -10%;
    top: -10%;
    width: 120%;
    height: 120%;
    transition: transform 2s ease-out;
}

.overlay-image {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 262px;
    height: 67px;
    z-index: 1;
}

.subtext {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 30px;
    font-family: "Kumbh Sans", "sans-serif";
    text-align: center;
    line-height: 1.4; 

}

/* Qui sommes nous Section */
.description-container {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

.description-heading {
    font-size: 3rem;
    font-family: "Kumbh Sans", "sans-serif";
    color: #2d2e32;
    margin-bottom: 0px;
}

.divider {
    display: inline-block; /* Makes the divider respect the center alignment */
    width: 60px;
    height: 4px;
    background-color: #D91828;
    border-radius: 2px;
}

.description-text {
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
    color: #333;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

/* Services */
.services-wrapper {
    overflow: hidden; 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    margin-top: 40px;
    text-align: center; /* Center align contents including the heading */
}

.services-heading {
    font-family: 'Merriweather', "serif";
    font-size: 3rem; /* Adjust size as needed */
    font-weight: bold;
    color: #1c1e27;
    margin-bottom: 0px; /* Space between heading and the divider */
}

.services {
    display: flex;
    justify-content: center; /* Center the card content */
    transition: transform 0.5s ease-in-out; 
}

.servicecard {
    min-width: 200px; 
    margin: 0 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 10px; /* Adjust padding as needed */
    text-align: center;
}
  
.card-icon {
    width: 100px; /* Adjust the size of the circle */
    height: 100px; /* Same as width to keep it circular */
    display: flex;
    border-radius: 50%;
    background-color: #f1f2f6;
    padding:  10px;
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally */
    margin: 0 auto; /* Center the icon horizontally in the card */
    overflow: hidden; /* Ensures the image doesn’t overflow the circle */
}
  
.card-icon img {
    max-width: 80%; /* Adjust size to fit within the circle */
    max-height: 80%; /* Same as width to maintain aspect ratio */
}
  
.servicecard-title {
    font-family: "Kumbh Sans", "sans-serif";
    font-size: 1rem;
    font-weight: bold;
    color: #1c1e27;
    margin-top: 20px; /* Adjust margin as needed */
}

.service-divider {
    display: inline-block; /* Makes the divider respect the center alignment */
    width: 60px;
    height: 4px;
    background-color: #D91828;
    margin: 20px 0;
    border-radius: 2px;
    margin-bottom: 30px;
}

/* Counter Section */
.counter-main {
    margin-top: 75px;
    position: relative;
    width: 100%;
    height: 300px;
    background: url('../../assets/background-counter.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    overflow: hidden; /* Ensure the content does not overflow */
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-family: "Kumbh Sans", "sans-serif";
    color: #fff;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column; /* Stack counters vertically if needed */
    align-items: center; /* Center horizontally */
}

.counters {
    display: flex;
    justify-content: center; /* Center counters horizontally */
    gap: 500px; /* Add space between counters */
}

.counter {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #D91828;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle p {
    font-size: 40px;
    color: white;
    margin: 0;
    font-family: "Kumbh Sans", "sans-serif";
}

.label {
    font-size: 24px;
    font-family: "Kumbh Sans", "sans-serif";
    color: #fff;
    margin-top: 10px;
}

/* Témoignage */
.feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 50px; /* Optional margin to give some space above the container */
}

.feedback-heading {
    font-size: 36px;
    font-family: "Kumbh Sans", "sans-serif";
    color: #07283c; /* Or your desired color */
    margin: 0;
}

.divider {
    width: 100px;
    height: 3px;
    background-color: #D91828; /* Divider color */
    margin: 20px 0;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 50px; /* Space between cards */
    flex-wrap: wrap; /* Wrap cards on smaller screens */
}

.card {
    background: #1D2026; /* Background color for card */
    border-radius: 8px;
    padding: 15px;
    width: 300px; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Card shadow */
    text-align: center;
    position: relative; /* Needed for positioning the pseudo-element */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.card::before {
    content: '“'; /* Quotation mark */
    font-size: 50px; /* Adjust size as needed */
    color: #ffffff; /* White color */
    position: absolute;
    top: 0px; /* Position above the card */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    opacity: 0.9; /* Slight transparency */
}

.card:hover {
    background: #D91828; /* Change background color on hover */
    color: #fff; /* Ensure text remains visible */
}

.card:hover .testimony-text {
    color: #fff; /* Change text color on hover if needed */
}

.image-container {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile-image {
    width: 100px; /* Circular image size */
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.testimony-text {
    font-size: 16px;
    font-family: "Kumbh Sans", "sans-serif";
    color: #fff; /* Text color */
}


/* For mobile devices (below 768px) */
@media (max-width: 768px) {
    .parallax-wrapper {
        height: 400px; /* Adjust height for better fit on smaller screens */
    }

    .parallax-image {
        left: -30%; /* Adjust to fit better on smaller screens */
        top: -30%;
        width: 160%; /* Make the image larger to cover the container properly */
        height: 160%;
    }

    .overlay-image {
        width: 180px; /* Adjust size to fit smaller screens */
        height: 45px;
    }

    .subtext {
        margin-top: 30px; /* Adjust spacing for smaller screens */
        font-size: 18px; /* Reduce font size for readability */
    }

    .client-button {
        top: 70%; /* Adjust position to fit better on smaller screens */
        font-size: 16px; /* Reduce font size for readability */
        padding: 12px 6px; /* Adjust padding to fit smaller screens */
    }

    .description-container {
        padding: 20px 10px; /* Reduce padding for smaller screens */
    }

    .description-heading {
        font-size: 2rem; /* Reduce font size for better fit on mobile */
    }

    .divider {
        width: 40px; /* Adjust size for mobile */
        height: 3px;
    }

    .description-text {
        font-size: 1rem; /* Reduce font size for readability */
        line-height: 1.4; /* Adjust line height for readability */
        max-width: 100%; /* Ensure text fits within mobile view */
    }

    .services-wrapper {
        margin-top: 20px; /* Adjust margin for better spacing on mobile */
    }

    .services-heading {
        font-size: 2rem; /* Reduce font size for better fit on mobile */
    }

    .services {
        flex-direction: row; /* Stack service cards vertically on mobile */
    }

    .servicecard {
        min-width: 150px; /* Make cards full width for mobile view */
        padding: 5px 5px; /* Adjust padding as needed */

    }

    .card-icon {
        width: 70px; /* Adjust size for mobile */
        height: 70px;
    }

    .card-icon img {
        max-width: 50%; /* Adjust size for mobile */
        max-height: 50%;
    }

    .servicecard-title {
        font-size: 0.9rem; /* Reduce font size for mobile */
    }

    .counter-main {
        height: 350; /* Allow height to adjust automatically */
    }

    .header {
        left: 25%; 
        top: 10%;
        font-size: 25px; /* Reduce font size for mobile */
    }

    .content {
        flex-direction: row; /* Stack counters vertically on mobile */
        align-items: center;
        margin-top: 80px;
    }

    .counters {
        flex-direction: row; /* Stack counters vertically on mobile */
        align-items: center;
    }

    .counter {
        margin-right: 0; /* Remove margin for vertical stacking */
        margin-bottom: 20px; /* Add margin between counters */
    }

    .feedback-container {
        padding: 20px; /* Adjust padding for smaller screens */
    }
    
    .feedback-heading {
        font-size: 28px; /* Reduce font size for better fit on mobile */
        text-align: center; /* Center the heading text */
    }
    
    .cards-container {
        display: flex; /* Ensure it’s a flex container */
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center align cards horizontally */
        gap: 20px; /* Reduce gap between cards */
        width: 100%; /* Make sure it takes full width */
    }
    
    .card {
        width: 80%; /* Make cards full width for mobile view */
        max-width: 300px; /* Limit maximum width of the card */
        margin: 0 auto; /* Center align cards within the container */
        /* Optional: Center align text within the card */
        text-align: center; 
    }
    
    .profile-image {
        width: 80px; /* Adjust size for mobile */
        height: 80px;
    }
    
    .testimony-text {
        font-size: 14px; /* Reduce font size for readability */
    }
}    

