<div class="parallax-wrapper">
  <div class="parallax-container" (mousemove)="onMouseMove($event)">
    <img src="../../assets/Banner.png" class="parallax-image" />
    <img src="../../assets/Slogan.png" class="overlay-image" />
    <p class="subtext">Cabinet d'accompagnement pour réussir vos études à l'étranger</p>
    
    
<!--<button mat-raised-button style="background-color: #197330; color: white;" class="client-button">Espace Client</button>-->
  
  </div>
</div>

<div class="description-container">
  <h1 class="description-heading">Qui sommes nous</h1>
  <div class="divider"></div>
  <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit in asperiores aspernatur numquam illum reprehenderit, odio cum minima, accusamus ipsam repudiandae vitae totam quo error animi aliquid, dolor ab. Reiciendis?</p>
</div>

<!-- New Cards Section -->
<div class="services-wrapper">
  <h1 class="services-heading">Nos Services</h1>
  <div class="service-divider"></div>
  <div class="services" #services>
    <div class="servicecard" *ngFor="let card of cards">
      <div class="card-icon">
        <img [src]="card.icon" alt="Service Icon" />
      </div>
      <h3 class="servicecard-title">{{ card.title }}</h3>
    </div>
  </div>
</div>


<!--Counter-->
<div class="counter-main" #counterSection>
  <div class="header">
    <h2>Chiffre Clé</h2>
  </div>
  
  <div class="content">
    <div class="counters">
      <div class="counter">
        <div class="circle">
          <p>{{ experienceCount }}</p>
        </div>
        <p class="label">Années d'expérience</p>
      </div>

      <div class="counter">
        <div class="circle">
          <p>{{ clientsCount }}</p>
        </div>
        <p class="label">Clients satisfaits</p>
      </div>
    </div>
  </div>
</div>


<!--Témoignage-->

<div class="feedback-container">
  <h1 class="feedback-heading">Témoignage</h1>
  <div class="divider"></div>

  <div class="cards-container">
    <div *ngFor="let testimonial of testimonials" class="card">
      <div class="image-container">
        <img [src]="testimonial.image" alt="{{testimonial.name}}" class="profile-image">
      </div>
      <p class="testimony-text">{{ testimonial.text }}</p>
    </div>
  </div>
</div>
